# Assessment Test

### This is the assessment test of our first part of the course.

Here we are going to check your capabilities on managing and using the basic programming concepts we have studied so far:

 * Objects and Data Structure
 * Comparison Operators
 * Statements
 * Method and Functions

## Objects and Data Structures

1. Use the string below:
 * Print the first letter of the string.
 * Print the @
 * Print the sequence "fuerteventura"
 * Split the string on @

In [2]:
my_string = "fuerteventura@2019"

In [13]:
print(my_string[0])
print(my_string[13])
print(my_string[0:13])
print(my_string[14:18])

f
@
fuerteventura
2019

2. Use the list below:
 * Print the second element of the list
 * Print the last element of the list
 * Print the sequence from the 4th to the 5th element
 * Print the second element of the sublist
 * Append the word "Python"
 * Pop out the sublist

In [31]:
x=[1,2,3,4,5,6,7,[1,2,3],23]
print(x[1])
print(x[-1])
y=x[3:5]
print(y)
print(y[1])
x.append('Python')
x.pop(-1)

2
23
[4, 5]
5

'Python'

3. Use the dictionary below:
 * Print all the keys
 * Print all the values
 * Print all the items
 * Print the value of "motorbike"
 * Print the value of "dog"
 * Calculate the differnce between the value of "bike" and the value of "cat"

In [32]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [47]:
myDict.keys()
myDict.values()
myDict.items()
myDict['motorbike']
myDict['pets']['dog']
myDict['bike']-myDict['pets']['cat']

150

4. Use the tuple below:
 * Print the third element of the tuple
 * Get the index of number 12
 * Count how many times 30 is inside the tuple

In [49]:
t = (80, 30, 30, 12, 80, 40)

In [53]:
t[2]
t.index(12)
t.count(30)

2

5. In this directory there is a file named "Assessment.txt". Use the **with** method and:
 * Open the .txt file and read what's is written inside
 * Open again the "Assessment.txt" file and write inside your name. Hint: use the "append" argumnet
 * Write a new file and call it "Assessment2.txt", write inside somenthing you like.

In [73]:
with open("Assessment.txt") as file: 
    data = file.read()
my_file=open('Assessment.txt','w+') 
my_file.write('\nDamiano')

8

## Booleans

In [74]:
# Answer before running cell
2 > 3

False

In [75]:
# Answer before running cell
3 <= 2

False

In [76]:
# Answer before running cell
3 == 2.0

False

In [77]:
# Answer before running cell
3.0 == 3

True

In [78]:
# Answer before running cell
4**0.5 != 2

False

In [79]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Comparison Operators

In [80]:
# answer before you run the code
12<5 and 6<2

False

In [81]:
# answer before you run the code
3 < 8 < 9

True

In [82]:
# answer before you run the code
3<9 and 12<30

True

In [83]:
# answer before you run the code 
8>2 and 4>10

False

In [84]:
# answer before you run the code 
3<4 and 'hello' == 'hellos'

False

## Statements

6. Use the code belowe and print out if the number generated is >1, <1 or -1<number<1

In [85]:
import numpy as np
number = np.random.randn()
number

# Insert here your if, elif, else statement
print(number)
# Insert here your if, elif, else statement
if number>1:
    print('is fucking more than 1')
elif number<-1:
    print('is fucking less than -1')
else:
    print('is between -1 and 1')

0.08219961179170292
is between -1 and 1

## for Loop

7. Use the list below and loop over it with the **for** method:
 * Print only the odds numbers
 * Print only the even numbers
 * Print the sum of all the numbers
 * Print only the unique numbers

In [87]:
lst = [3,5,68,3,4,19,18,5,4]

In [93]:
#for i in lst:
 #   if i%2==0:
  #      print(i)
for i in lst:
    if i%2==1:
        print(i)
count = 0 
# loop
for el in lst:
    count = count + el
print (count)
set(lst)

3
5
3
19
5
129

{3, 4, 5, 18, 19, 68}

8. Use the dictionary below and print only the values:

In [96]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [95]:
myDict.values()

dict_values([100, 200, 300, {'dog': 100, 'cat': 50, 'rabbit': 200}])

## while Loop

9. Write a simple while loop that prints all numbers from 10 to 20. The loop must stop when the condition == 20. When you print out the results try to use "string formatting".

In [97]:
var = 0 

while var < 20:
    var += 1
    if var == 20:
        break
    else:
        print (var)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

10. Write a while loop that prints out all odd numbers from 30 to 50. Save all the even numbers into a list, print the list at the end.

In [104]:
ls=[]
count=29
# while loop
while count<51:
    count+=1
    if count%2==0:
        ls.append(count)
    else: 
        print(count)
# print list
ls

31
33
35
37
39
41
43
45
47
49
51

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

11. Write a while loop that goes from 15 to 25. Print out every number, if a number is multiple of 12 break the loop, otherwise continue.

In [105]:
count=14
while count<26:
    count+=1
    if count%12==0:
        break
    else:
      continue

## List Comprehension

12. Use the list comprehension method and write a list from the word "Maradona"

In [107]:
lst=[x for x in 'Maradona']
lst

['M', 'a', 'r', 'a', 'd', 'o', 'n', 'a']

## Functions

13. Write a function that computes the volume of a sphere given its radius.
 * radius = 2.5 cm

In [113]:
import numpy as np

def volume(radius):
    return np.pi*(radius*radius*radius)*(4/3)

volume(2.5)

65.44984694978734

14. Write a function that takes in input a list and return only the even numbers

In [150]:
def find_even(num):
    for num in list1:
        if num % 2 == 0:
            print(num, end = " ")

In [151]:
list1 = [10, 21, 4, 45, 66, 93]

In [152]:
find_even(list1)

10 4 66

16. Write a fuction that check if a given number is prime.

In [154]:
def isPrime(n):
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

In [155]:
isPrime(329862931)

False

## Congratulation!

### You have compleated the Assessment Test, now it's time to move on the other session on the course: Numpy,Pandas and Visualization