In [2]:
#Assign a liust to a variable my_list
my_list=[1,2,3]
print(my_list)

[1, 2, 3]

In [3]:
my_list=['A string',23,100.2,'o']

In [4]:
my_list

['A string', 23, 100.2, 'o']

In [5]:
len(my_list)

4

In [6]:
my_list[:3]

['A string', 23, 100.2]

In [7]:
my_list[0]

'A string'

In [9]:
my_list*3

['A string',
 23,
 100.2,
 'o',
 'A string',
 23,
 100.2,
 'o',
 'A string',
 23,
 100.2,
 'o']

In [10]:
my_list+my_list

['A string', 23, 100.2, 'o', 'A string', 23, 100.2, 'o']

In [11]:
my_list[0]=100

In [12]:
my_list

[100, 23, 100.2, 'o']

In [13]:
#change more elements for a list
my_list[5:7]=[6,7]

In [14]:
my_list

[100, 23, 100.2, 'o', 6, 7]

In [15]:
l=[1,2,3,4,5]

In [16]:
l.append("hello")

In [17]:
l

[1, 2, 3, 4, 5, 'hello']

In [18]:
l.pop()

'hello'

In [19]:
l

[1, 2, 3, 4, 5]

In [20]:
l.pop(-2)

4

In [21]:
l

[1, 2, 3, 5]

In [23]:
new_list=['a','b','c','d']

In [24]:
new_list.reverse()

In [25]:
new_list

['d', 'c', 'b', 'a']

In [26]:
new_list.sort()

In [27]:
new_list

['a', 'b', 'c', 'd']

In [28]:
new_list=['a','b',100,30,2]

In [29]:
new_list

['a', 'b', 100, 30, 2]

In [31]:
new_list.reverse()

In [32]:
new_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
n=[100, 234, 2342,43]

n.sort()

In [37]:
n

[100, 234, 2342, 43]

In [39]:
#let's make 3 list
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

In [40]:
range(10)

range(0, 10)

In [41]:
for el in range(0,10):
    print(el)

0
1
2
3
4
5
6
7
8
9

In [43]:
l=[1,2,3,4]

In [46]:
for el in range(0,5):
    print(el)

0
1
2
3
4

In [48]:
nested_list=[[1,2,3],[4,5,6],[7,8,9]]

In [49]:
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]